* {
  box-sizing: border-box;
}

body {
  background-color: $grey-body;

}

.container {
  margin: 78px auto 22px calc(100vw / 2 - 434px);
  max-width: 1056px;
  width: 100%;
  background-color: $grey-body;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.shadow-content {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.shadow-menu {
  box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.2);
}

.text-red {
  color: $red-normal;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-start-align {
  align-items: flex-start;
}

.flex-center-align {
  align-items: center;
}

.flex-end-align {
  align-items:  flex-end;
}

.flex-content-start {
  align-content: flex-start;
}

.flex-content-center {
  align-content: center;
}

.flex-content-end {
  align-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.icon {
  height: 20px;
  width: 18px;
  margin: 0 18px;

  path {
    fill: $grey-icon;
  }

  polygon {
    fill: $grey-icon;
  }
}

.icon-menu {
  height: 16px;
  width: 16px;
  margin: 0 11px;

  path {
    fill:$grey-menu-items;
  }
}

.icon-arows {
  width: 11px;
  height: 18px;
  cursor: pointer;

  polygon {
    fill: $grey-title;
  }
}

.icon-table {
  height: 18px;
  width: 18px;
}

.icon-white {
  path {
    fill: $white;
  }
}

.icon-table-orange {
  @extend .icon-table;

  path {
    fill: $orange-icon;
  }
}

.icon-table-grey {
  @extend .icon-table;

  path {
  fill: $grey-light;
  }
}

.icon-table-title {
  width: 7px;
  height: 5px;

  polygon {
    fill: $grey-title;
  }
}

.calendary-icon {
  height: 13px;
  width: 13px;
  margin: 0;

  path {
    fill: $grey-light;
  }
}

.active-item-menu {
  background-color: $grey-menu-hover;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.active-white-color {
  color: $white;
}

.top-height {
  height: 62px;
}

.natural {
  height: fit-content;
}

.negative {
  filter: invert(100%);
}

.bottom-line {
  border-bottom: 1px solid $grey-line;
}

.back-blue {
  background-color: $blue-point;
}

.back-grey {
  background-color: $grey-back;
}

.back-orange {
  background-color: $orange-back;
}

.back-green {
  background-color: $green-back;
}

.main {
  width: 100%;
  max-width: 684px;
  margin: 0 auto;
  font-family: $font-roboto-bold;
  font-size: $font-size-16;
  color: $grey-title;
}

@media(max-width: 767px) {
  @include grid("sm");
}

@media(min-width: 768px) {
  @include grid("md");
}

@media(min-width: 992px) {
  @include grid("lg");
}

@media(min-width: 1200px) {
  @include grid("xl");
}