.section__add-url {
  width: 100%;
  max-width: 1074px;
  background-color: $white;
  margin: 0 auto;
  @extend .shadow-content;

  svg {
    margin-right: 15px;
  }

  .part-one {
    padding: 0 18px 28px ;
    @extend .bottom-line;

    .box {
      max-width: 437px;
      width: 100%;

      .input-long {
        @extend .prop-input-size;

        input {
          @extend .prop-roboto-light-14;
          border: none;
          padding-left: 15px;
        }

        select {
          @extend .prop-roboto-light-14;
          @extend .prop-select;
          width: 100%;
          padding-left: 15px;
          margin-right: 10px;
        }
      }
    }

    .box-low {
      max-width: 133px;
      width: 100%;

      .input-short {
        @extend .prop-input-size;

        select {
          @extend .prop-roboto-light-14;
          @extend .prop-select;
          width: 100%;
          padding-left: 15px;
          margin-right: 10px;
        }
      }
    }

    .short {
      max-width: 134px;
      width: 100%;
    }

    .margin-h4 {
      margin: 26px 0 19px;
      line-height: 17px;
    }
  }

  .part-two {
    @extend .bottom-line;
    padding: 0 18px;

    &>div {
      >div {
        max-width: none;
      }
    }
  }

  .part-three {
    .input-link {
      @extend .prop-input-size;
      width: 100%;

      input {
        @extend .prop-roboto-light-14;
        border: none;
        padding-left: 15px;
        outline: none;
        width: 100%;
      }
    }

    .copy {
      width: 150px;
      background-color: $grey-line;
    }
  }
}