.section--general {
  background-color: $white;
  line-height: 42px;

  .right {
    margin: 21px 0 0 33px;
  }

  .left {
    margin: 21px 33px 0 0;
  }

  .data {
    border-bottom: 1px solid $grey-line;

    .first {
      margin: 0;
    }

    .second {
      margin: 0;
      font-family: $font-roboto-light;
      color: $black;
    }
  }

  .middle {
    padding-top: 40px;

    .legend {
      border-radius: 3px;
      margin: 0 21px;

      .point {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        margin-left: 17px;
      }

      .description {
        font-weight: lighter;
        margin: 0;
        padding: 0 17px;
      }
    }

    .chart {
      padding: 77px 0 54px;
    }
  }
}